<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<system.web>
     <compilation defaultLanguage="JScript" debug="false" />
     <!--Here is the globalization config code for Other language Os-->
     <globalization 
            requestEncoding="gb2312"
            responseEncoding="gb2312"
	    fileEncoding="gb2312"
     />
	 <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
    </system.web>

</configuration>
