<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>新建团购项目</h2></b></div>
                <div class="sect">
					<p>你所能建立的团购数量已经达到上限, 请耐心等待您的团购项目结束，结束后可继续发布，或者您也可以加入{$INI['system']['abbreviation']}的VIP商户! 可以发布更多的团购信息</p>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
