<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
        <div class="box-content">
            <div class="head"><h2>您的订单</h2></div>
            <div class="sect">
                <table class="order-table">
                    <tr>
                        <th class="deal-buy-desc">项目名称</th>
                        <th class="deal-buy-quantity">数量</th>
                        <th class="deal-buy-multi"></th>
                        <th class="deal-buy-price">价格</th>
                        <th class="deal-buy-equal"></th>
                        <th class="deal-buy-total">总价</th>
                    </tr>
                    <tr>
                        <td class="deal-buy-desc">{$team['title']}</td>
                        <td class="deal-buy-quantity">{$order['quantity']}</td>
                        <td class="deal-buy-multi">x</td>
                        <td class="deal-buy-price" id="deal-buy-price"><span class="money">{$currency}<span>${moneyit($order['price'])}</td>
                        <td class="deal-buy-equal">=</td>
                        <td class="deal-buy-total" id="deal-buy-total"><span class="money">{$currency}</span>${moneyit($order['price']*$order['quantity'])}</td>
                    </tr>
					<!--{if $team['delivery']=='express'}-->
					<tr>
						<td class="deal-buy-desc">快递</td>
						<td class="deal-buy-quantity"></td>
						<td class="deal-buy-multi"></td>
						<td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-express-price">{$team['fare']}</span></td>
						<td class="deal-buy-equal">=</td>
						<td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-express-total">${($team['farefree']==0||$order['quantity']<$team['farefree'])?$team['fare']:0}</span></td>
					</tr>
					<!--{/if}-->
					<!--{if $order['card']>0}-->
				   <tr id="cardcode-row">
						<td class="deal-buy-desc">代金券：<span id="cardcode-row-n">{$order['card_id']}</span></td>
						<td class="deal-buy-quantity"></td>
						<td class="deal-buy-multi"></td>

						<td class="deal-buy-price"><span class="money">{$currency}</span>${moneyit($order['card'])}</td>
						<td class="deal-buy-equal">=</td>
						<td class="deal-buy-total">-<span class="money">¥</span><span id="cardcode-row-t">{$order['card']}</span></td>
					</tr>
					<!--{/if}-->

					<tr class="order-total">
                        <td class="deal-buy-desc"><strong>应付总额：</strong></td>
                        <td class="deal-buy-quantity"></td>
                        <td class="deal-buy-multi"></td>
                        <td class="deal-buy-price"></td>
                        <td class="deal-buy-equal">=</td>
                        <td class="deal-buy-total"><span class="money">{$currency}</span>{$order['origin']}</td>
                    </tr>
                </table>
				<div class="paytype">
                <form action="/order/pay.php" method="post" class="validator">
				<div class="order-check-form ">
					<div class="order-pay-credit">
						<h3>您的余额</h3>
						<p>账户余额：<strong><span class="money">{$currency}</span>${moneyit($login_user['money'])}</strong> <!--{if false==$credityes}-->，您的余额不够完成本次付款，还需支付 <strong><span class="money">{$currency}</span>${moneyit($order['origin']-$login_user['money'])}</strong>。<!--{if $creditonly}-->请赶紧去<a href="/credit/charge.php">充值</a>。<!--{else}-->请选择支付方式：<!--{/if}--><!--{else}-->，您的余额足够本次购买，请直接确认订单，完成付款。<!--{/if}--></p>
						<div class="other_pay">{$INI['other']['pay']}</div>
					</div>  

				<!--{if false==$creditonly && false==$credityes}-->
					<ul class="typelist">
					<!--{if $INI['alipay']['mid']}-->
						<li><input id="check-alipay" type="radio" name="paytype" value="alipay" {$ordercheck['alipay']} /><label for="check-alipay" class="alipay">支付宝交易，推荐淘宝用户使用</label></li>
					<!--{/if}-->
					<!--{if $INI['tenpay']['mid']}-->
						<li><input id="check-tenpay" type="radio" name="paytype" value="tenpay" {$ordercheck['tenpay']} /><label for="check-tenpay" class="tenpay">财付通交易，推荐拍拍用户使用</label></li>
					<!--{/if}-->
					<!--{if $INI['bill']['mid']}-->
						<li><input id="check-bill" type="radio" name="paytype" value="bill" {$ordercheck['bill']} /><label for="check-bill" class="bill">快钱交易，助您生活娱乐更加便捷</label></li>
					<!--{/if}-->
					<!--{if $INI['chinabank']['mid']}-->
						<li><input id="check-chinabank" type="radio" name="paytype" value="chinabank" {$ordercheck['chinabank']} /><label for="check-chinabank" class="chinabank">网银支付交易，支持招商、工行、建行、中行等主流银行</label></li>
					<!--{/if}-->
					<!--{if $INI['paypal']['mid']}-->
						<li><input id="check-paypal" type="radio" name="paytype" value="paypal" {$ordercheck['paypal']} /><label for="check-paypal" class="paypal">PayPal, Recommended</label></li>
					<!--{/if}-->
					</ul>

				<!--{else}-->
					<input type="hidden" name="paytype" value="credit" />
				<!--{/if}-->

				<!--{if $credityes || false==$creditonly}-->
					<div class="clear"></div>
					<p class="check-act">
					<input type="hidden" name="order_id" value="{$order['id']}" />
					<input type="hidden" name="team_id" value="{$order['team_id']}" />
					<input type="hidden" name="cardcode" value="" />
					<input type="hidden" name="quantity" value="{$order['quantity']}" />
					<input type="hidden" name="address" value="{$order['address']}" />
					<input type="hidden" name="express" value="{$order['express']}" />
					<input type="hidden" name="remark" value="{$order['remark']}" />
					<input type="submit" value="确认订单，付款" class="formbutton" />
					<!--{if false==$credityes}-->
					<input type="button" value="确认订单，以后再付款" class="formbutton" onclick="location.href='index.php';" />
					<!--{/if}-->
					<a href="/team/buy.php?id={$order['team_id']}" style="margin-left:1em;">返回修改订单</a>
				<!--{/if}-->
					</p>
				</div>
				</form>
				</div>
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
<div id="sidebar">
<!--{if !$order['card_id']}-->
	<!--{include block_side_card}-->
<!--{/if}-->
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
